API_ID= 26950268
API_HASH= e69e4e5ed85a531a1404b69676ced949
BOT_TOKEN= 6369288895:AAEQt24ek1lICM3nS_-JD7Tdo1z-OFXNkT4
LOGGER_ID= -1002404134630
MONGO_DB_URI=
OWNER_ID= 6462125292
STRING_SESSION= BAGbOnwAkd1BOcFHE0cNrtp93SsUrdPpImsR5YvJWQnrw6LEI3ciwdOolhYY2AdHEtoupQbj2w9dapubSSwgkgh4jdEObgNPxKS1_tKqNpH7B5UBdAoSWRT8DsweWJUuhEPes2sV0GgptcFTw1Bt1n-Jz8RfCVDDKZzHcVuinu6OVYclEi4RSulJA0C8zN-oMbp786J1UCcr0gorKQMu_-559jXf3SCMWhMfG9ywJLiZ4WJsGP2c41h5wTWcyuCI2dVtIAfEkNj0QwVXcfyqOwExzQ8TS1HShJHsWD9bsdGhyk-ZaOyTgawm08tXJcBcBHKUB0Y1x45z4If5yBMGCcjjfEh6LwAAAAGBLDTsAA
